#login-box {
    height:80.7vh;
    color: white;
    text-align: center;
}

#login-to-signup-link {
    text-decoration: underline;
    color:white;
}

#submit-login {
    margin: 20px;
}

#login-to-signup-link:hover { 
    font-size: larger
}

input#username-login:hover{
    font-size: larger;
}

#username-login::placeholder{
    color:black
}

#password-login::placeholder{
    color:black
}

input#password-login:hover{
    font-size: larger;
}